<div class="scheme">
  <!--<mat-slide-toggle color="primary" [checked]="checked" (toggleChange)="toggleTheme()">-->
    <!--Dark Colours-->
  <!--</mat-slide-toggle>-->

  <label for="checkbox_1">tumbler-request</label>
  <input id="checkbox_1" [checked]="checked" type="checkbox" (click)="toggleTheme()">
  <!--
    <input      attr.checked="{{checked}}"      >
    <input      [attr.checked]="checked"      >
    @info 1) https://lishman.io/accessing-data-attributes-in-angular
    @info 2) https://stackoverflow.com/questions/34542619/angular-2-data-attributes
    @info 3) https://youtu.be/wBakyoAR8XM?list=PLEsfXFp6DpzQThMU768hTZInWUqfoyTEW&t=241
  -->
</div>
